

body {
  padding: 500px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  font-size: 60px;
  padding: 10px;
  color: rgba(46, 204, 113, 1);
  
}

.subheader {
  font-size: 30px;
  padding: 10px;
  
}


.tRow:hover{
  background-color: rgba(46, 204, 113, .3);
}

.dataButton{
  width:100%; 
  border-radius: 25px; 
  margin-top: 20px; 
  height: 30px;
  background-color:rgba(46, 204, 113, .3);
  transition: .5s;
}
.dataButton:hover {
  background-color:rgba(46, 204, 113, 1);
  cursor: pointer;
}




